

.about-content-wrapper {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center;     
    width: 100%;             
    min-height: 100vh;       
    padding: 20px;          
    box-sizing: border-box;
}

.about-text {
    flex: 1;                 
    max-width: 600px;       
    margin-right: 40px;     
}

.about-section h1 {
    color: #000;

font-family: "Josefin Sans";
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 30px;
}

.h1-blue {
    color: #8DC4E6;
}

.about-section p {
    color: #000;
    font-family: Actor;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6; 
    margin: 0;         
}

.paragraphs {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.about-section p + p {
    margin-top: 20px; 
}


