
#heading {
color: #000;
font-family: Alice;
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 40px;
margin-left: 150px;
text-align: left;
}

.input-box {
  width: 402px;
  height: 400px;
  border-radius: 62px;
  background: rgba(141, 195, 231, 0.37);
  
  background-size: cover;    
  background-position: center; 
  background-repeat: no-repeat; 
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  transition: background-image 0.3s ease-in-out;
  
  padding: 0;
  overflow: hidden; 
}

.input-box label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}



main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 150px;
  margin-top: 50px;
}

.left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#upload-icon {
  width: 70px;
  height: 70px;
  position: absolute;

}

#upload-text {
  position: absolute;
  text-align: center;
margin-top: 120px;
 color: #000;
font-family: Actor;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

#detect {
  display: inline-block;
  padding: 10px 10px;
  margin-left: 0;
  background-color: #000;
  text-decoration: none;
  color: #FFFAFA;
  border: none;
  font-family: Actor;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: fit-content;
  cursor: pointer;
  transition: background-color 0.3s;
}

#detect:hover {
  background-color: #6088a5;
}

.right-column{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 50px;
}

.right-column h1{
color: #000;
font-family: Kanit;
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

#result {
  margin-top: 5px;
  text-align: left;
}

#result h3 {
color: #000;  
font-family: Actor;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 10px;
margin-top: 20px;
margin-left: 20px;
} 

#result p {
color: #000;
font-family: Actor;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 2rem; 
margin-left: 20px;
}

#result {
  width: 700px;
  height: 340px;
  flex-shrink: 0;
  border-radius: 35px;
  background: rgba(145, 240, 198, 0.42);
}

.placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #535151  !important;

}

.result-placeholder {
  font-family: 'Actor', sans-serif; 
  font-size: 1.2rem;
  color: #535151  !important;
  text-align: center;
  line-height: 1.5;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-spinner {
  position: absolute;
  width: 25px;        
  height: 25px;
  border: 5px solid #a2f6d0; /* Halkanın donuk (arka plan) rengi */
  border-top: 5px solid #27a0f0; /* Halkanın dönen (mavi) kısmı - rengi değiştirebilirsiniz */
  border-radius: 50%; /* Tam bir daire yapar */
  animation: spin 1s linear infinite; 
  margin-top: 130px;
  margin-left: 330px;
}

#learn-more {
  margin-left: 550px;
  display: inline-block;
  background: #000;
  color: #FFFAFA;
font-family: Actor;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 4px 8px;
cursor: pointer;
  text-decoration: none;
  border: none;
  transition: background-color 0.3s;
}

#learn-more:hover {
  background-color: #6088a5;
}